* {
  box-sizing: border-box; //este es el borde de la caja o pantalla en general
}

body {
  font-family: sans-serif; //tipo de fuente
  margin: 20px; //margen en pixeles
  padding: 0;
}

h1 {
  margin-top: 0; //margen en pixeles
  font-size: 22px; //tamaño de la letra para h1
}

h2 {
  margin-top: 0; //margen en pixeles
  font-size: 20px;//tamaño de la letra para h1
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;// colo de fondo
  border: 10px solid #999; //borde
  float: left;
  font-size: 24px; //tamaño de la imagen
  font-weight: bold;
  line-height: 52px; // altura de las lineas
  height: 74px;
  margin-right: -1px;//margen de abajo
  margin-top: -1px; //margen de arriba
  padding: 8; //relleno
  text-align: center; // alineamos el texto al centro
  width: 34px; //ancho de los cuadros
}

.board-row:after {
  clear: both; //limpiamos los ambos contenedores 
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
